
*.vsidx
.vs/ApexBaby/v17/.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
*.db
*.exe
*.pdb
*.yes
*.txt
*.lib
*.lib
.vs/ApexBaby/v17/fileList.bin
lib/DMALibrary.lib
*.dll
*.testlog
Scripts/DestinyInventoryItemDefinition.json
Scripts/DestinySandboxPerkDefinition.json
/.vs
